@import '../../../../constants.scss';

.roles-list {

  .roles-header {
    display: flex;
    height: auto;

    > span {
      flex: 1;
    }

    .add-role-button {
      flex: 0 0 auto;
    }
  }

  .role-item {
    border-bottom: 1px solid rgba(255,255,255,.12);
    cursor: pointer;

    .role-dates {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.54);
    }

    h5 {
      color: mat-color($accent, A200);
    }

    &:focus {
      outline: none;
    }

    @media (min-width: 950px) {
      transition: ease-in 0.15s;

      &:hover {
        transform: scale(1.15,1.15);
        box-shadow: 1px 1px 16px rgba(0,0,0,0.54);
        background-color: white;
        color: black;

        h5 {
          color: mat-color($primary);
        }

        .role-dates {
          color: rgba(0, 0, 0, 0.54);
        }
      }
    }
  }
}
